body {
    font-family: sans-serif;
}

#app {
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
}

.degree-sign {
    font-size: 3.2rem;
    font-weight: 500;
    color: #333;
}

.weather-icon {
    width: 64px;
    height: 64px;
}

.wt-desc {
    color: #70757a;
    font-size: 16px;
    line-height: 1;
    height: 19px;
    display: block;
}

.city-name {
    color: #7c7c7c;
    font-size: 1.5rem;
    line-height: 28px;
    font-size: 24px;
}

.details {
    color: #7c7c7c;
    font-size: 16px;
    line-height: 1;
    height: 19px;
}

.align-top a {
    text-decoration: none;
    /* color: #7c7c7c; */
}